<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      >
  <!--<extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>-->
  <variable name="thismonth" value="${date:format=yyyy-MM}"/>
  <variable name="logDirectory" value="${basedir}/logs/${thismonth}/${shortdate}"/>
  <!--<variable name="logFile" value="${logDirectory}/${shortdate}"/>-->
  <targets>
    <default-target-parameters xsi:type="File" keepFileOpen="false"/>
    <target name="info" xsi:type="File" fileName="${logDirectory}/${shortdate}_info.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=tostring}"/>
    <target name="error" xsi:type="File" fileName="${logDirectory}/${shortdate}_error.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=tostring}"/>
    <target xsi:type="File" name="pcs" fileName="${logDirectory}/${shortdate}_${event-properties:item=SiteId}_pcs_record.csv">
      <layout xsi:type="CsvLayout" delimiter="Comma" withHeader="true">
        <column name="timestamp" layout="${longdate}" />
        <column name="siteid" layout="${event-properties:item=SiteId}"/>
        <column name="status" layout="${event-properties:item=Status}"/>
        <column name="frequency" layout="${event-properties:item=Frequency}"/>
        <column name="activepower" layout="${event-properties:item=ActivePower}"/>
        <column name="reactivepower" layout="${event-properties:item=ReactivePower}"/>
        <column name="powerfactor" layout="${event-properties:item=PowerFactor}"/>
        <column name="temp0" layout="${event-properties:item=Temp0}"/>
        <column name="temp1" layout="${event-properties:item=Temp1}"/>
        <column name="temp2" layout="${event-properties:item=Temp2}"/>
        <column name="temp3" layout="${event-properties:item=Temp3}"/>
        <column name="accumulatecharge" layout="${event-properties:item=AccumulateCharge}"/>
        <column name="accumulatedischarge" layout="${event-properties:item=AccumulateDischarge}"/>
        <column name="ac_line_voltage_r" layout="${event-properties:item=AC_line_voltage_R}"/>
        <column name="ac_line_voltage_s" layout="${event-properties:item=AC_line_voltage_S}"/>
        <column name="ac_line_voltage_t" layout="${event-properties:item=AC_line_voltage_T}"/>
        <column name="ac_phase_voltage_r" layout="${event-properties:item=AC_phase_voltage_R}"/>
        <column name="ac_phase_voltage_s" layout="${event-properties:item=AC_phase_voltage_S}"/>
        <column name="ac_phase_voltage_t" layout="${event-properties:item=AC_phase_voltage_T}"/>
        <column name="ac_phase_current_r" layout="${event-properties:item=AC_phase_current_R}"/>
        <column name="ac_phase_current_s" layout="${event-properties:item=AC_phase_current_S}"/>
        <column name="ac_phase_current_t" layout="${event-properties:item=AC_phase_current_T}"/>
        <column name="dc_link_voltage" layout="${event-properties:item=Dc_link_voltage}"/>
        <column name="dc_battery_voltage" layout="${event-properties:item=Dc_battery_voltage}"/>
        <column name="dc_battery_current" layout="${event-properties:item=Dc_battery_current}"/>
        <column name="dc_battery_power" layout="${event-properties:item=Dc_battery_power}"/>
        <column name="comm_fault" layout="${event-properties:item=Comm_fault}"/>
      </layout>
    </target>
    <target xsi:type="File" name="bsc" fileName="${logDirectory}/${shortdate}_${event-properties:item=SiteId}_bsc_record.csv">
      <layout xsi:type="CsvLayout" delimiter="Comma" withHeader="true">
        <column name="timestamp" layout="${longdate}" />
        <column name="siteid" layout="${event-properties:item=SiteId}"/>
        <column name="PcsIndex" layout="${event-properties:item=PcsIndex}"/>
        <column name="BscHeartBeat" layout="${event-properties:item=BscHeartBeat}"/>
        <column name="TotalRacks" layout="${event-properties:item=TotalRacks}"/>
        <column name="OnlineRacks" layout="${event-properties:item=OnlineRacks}"/>
        <column name="Status" layout="${event-properties:item=Status}"/>
        <column name="RelayClose" layout="${event-properties:item=RelayClose}"/>
        <column name="Soc" layout="${event-properties:item=Soc}"/>
        <column name="Soh" layout="${event-properties:item=Soh}"/>
        <column name="DcVoltage" layout="${event-properties:item=DcVoltage}"/>
        <column name="DcCurrent" layout="${event-properties:item=DcCurrent}"/>
        <column name="ChargeCurrentLimit" layout="${event-properties:item=ChargeCurrentLimit}"/>
        <column name="DischargeCurrentLimit" layout="${event-properties:item=DischargeCurrentLimit}"/>
        <column name="ChargePowerLimit" layout="${event-properties:item=ChargePowerLimit}"/>
        <column name="DischargePowerLimit" layout="${event-properties:item=DischargePowerLimit}"/>
        <column name="CellVoltageRangeMin" layout="${event-properties:item=CellVoltageRange_Min}"/>
        <column name="CellVoltageRangeMax" layout="${event-properties:item=CellVoltageRange_Max}"/>
        <column name="ModuleTempRange_Min" layout="${event-properties:item=ModuleTempRange_Min}"/>
        <column name="ModuleTempRange_Max" layout="${event-properties:item=ModuleTempRange_Max}"/>
        <column name="RoomTemp" layout="${event-properties:item=RoomTemp}"/>
        <column name="CellVoltageLocationRangeMin" layout="${event-properties:item=CellVoltageLocationRange_Min}"/>
        <column name="CellVoltageLocationRangeMax" layout="${event-properties:item=CellVoltageLocationRange_Max}"/>
        <column name="ModuleTempLocationRangeMin" layout="${event-properties:item=ModuleTempLocationRange_Min}"/>
        <column name="ModuleTempLocationRangeMax" layout="${event-properties:item=ModuleTempLocationRange_Max}"/>
        <column name="Warning0" layout="${event-properties:item=Warning0}"/>
        <column name="Warning1" layout="${event-properties:item=Warning1}"/>
        <column name="Warning2" layout="${event-properties:item=Warning2}"/>
        <column name="Warning3" layout="${event-properties:item=Warning3}"/>
        <column name="Fault0" layout="${event-properties:item=Faults0}"/>
        <column name="Fault1" layout="${event-properties:item=Faults1}"/>
        <column name="Fault2" layout="${event-properties:item=Faults2}"/>
        <column name="Fault3" layout="${event-properties:item=Faults3}"/>
      </layout>
    </target>
    <target xsi:type="File" name="pvmeter" fileName="${logDirectory}/${shortdate}_${event-properties:item=SiteId}_pvmeter_record.csv">
      <layout xsi:type="CsvLayout" delimiter="Comma" withHeader="true">
        <column name="timestamp" layout="${longdate}" />
        <column name="siteid" layout="${event-properties:item=SiteId}"/>
        <column name="PmsIndex" layout="${event-properties:item=PmsIndex}"/>
        <column name="CommError" layout="${event-properties:item=CommError}"/>
        <column name="ReversePowerRelayError" layout="${event-properties:item=ReversePowerRelayError}"/>
        <column name="TotalActivePower" layout="${event-properties:item=TotalActivePower}"/>
        <column name="TotalReactivePower" layout="${event-properties:item=TotalReactivePower}"/>
        <column name="ReverseReactivePower" layout="${event-properties:item=ReverseActivePower}"/>
        <column name="Voltage_R" layout="${event-properties:item=Voltage_R}"/>
        <column name="Voltage_S" layout="${event-properties:item=Voltage_S}"/>
        <column name="Voltage_T" layout="${event-properties:item=Voltage_T}"/>
        <column name="Current_R" layout="${event-properties:item=Current_R}"/>
        <column name="Current_S" layout="${event-properties:item=Current_S}"/>
        <column name="Current_T" layout="${event-properties:item=Current_T}"/>
        <column name="Frequency" layout="${event-properties:item=Frequency}"/>
        <column name="EnergyTotalActivePower" layout="${event-properties:item=EnergyTotalActivePower}"/>
        <column name="EnergyTotalReactivePower" layout="${event-properties:item=EnergyTotalReactivePower}"/>
        <column name="EnergyTotalReverseActivePower" layout="${event-properties:item=EnergyTotalReverseActivePower}"/>
      </layout>
    </target>
    <target xsi:type="File" name="bscmeter" fileName="${logDirectory}/${shortdate}_${event-properties:item=SiteId}_bscmeter_record.csv">
      <layout xsi:type="CsvLayout" delimiter="Comma" withHeader="true">
        <column name="timestamp" layout="${longdate}" />
        <column name="siteid" layout="${event-properties:item=SiteId}"/>
        <column name="PmsIndex" layout="${event-properties:item=PmsIndex}"/>
        <column name="CommError" layout="${event-properties:item=CommError}"/>
        <column name="ReversePowerRelayError" layout="${event-properties:item=ReversePowerRelayError}"/>
        <column name="TotalActivePower" layout="${event-properties:item=TotalActivePower}"/>
        <column name="TotalReactivePower" layout="${event-properties:item=TotalReactivePower}"/>
        <column name="ReverseReactivePower" layout="${event-properties:item=ReverseActivePower}"/>
        <column name="Voltage_R" layout="${event-properties:item=Voltage_R}"/>
        <column name="Voltage_S" layout="${event-properties:item=Voltage_S}"/>
        <column name="Voltage_T" layout="${event-properties:item=Voltage_T}"/>
        <column name="Current_R" layout="${event-properties:item=Current_R}"/>
        <column name="Current_S" layout="${event-properties:item=Current_S}"/>
        <column name="Current_T" layout="${event-properties:item=Current_T}"/>
        <column name="Frequency" layout="${event-properties:item=Frequency}"/>
        <column name="EnergyTotalActivePower" layout="${event-properties:item=EnergyTotalActivePower}"/>
        <column name="EnergyTotalReactivePower" layout="${event-properties:item=EnergyTotalReactivePower}"/>
        <column name="EnergyTotalReverseActivePower" layout="${event-properties:item=EnergyTotalReverseActivePower}"/>
      </layout>
    </target>
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
        layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" maxlevel="Fatal" writeTo="coloredConsole" />
    <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="error" />
    <logger name="record.pcs" levels="Trace" writeTo="pcs" />
    <logger name="record.bsc" levels="Trace" writeTo="bsc" />
    <logger name="record.pvmeter" levels="Trace" writeTo="pvmeter" />
    <logger name="record.bscmeter" levels="Trace" writeTo="bscmeter" />
  </rules>
</nlog>